<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8be45e5784.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/sensoreSy.css">
    <title>Home</title>
</head>
<body>
    <!--
        <header>
        <div class="logo">
            <img src="img/logo.png" alt="logo">
        </div>
    </header>
    -->
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </label>
        <a href="#" class="enlace">
            <img src="img/logo.png" alt="logoA" class="logo">
        </a>
        <ul>
            <li><a class="links" href="#">Conoce más</a></li>
            <li><a class="links" href="#">Cerrar sesion</a></li>
            <li><a class="perfilHome" href="#"><img src="img/perfilHome.png" alt=""></a></li>
        </ul>
    </nav>
    <!--Contendor para la seccion principal-->
    <main>
        <div class="container-elements">
            <img class="imagen-sensor" src="img/img-home.png" alt="imagen">
            <div class="container-sensores">
                <h1 class="welcome">Bienvenido <br>Name user</h1>
                <p>Mis sensores:</p>
                <div class="container-botones" id="botones">
                    <div class="btn">Nuevo sensor
                        <a href="#"><img src="img/more-sensor.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="./js/getSensores.js"></script>
    </body>
    </html>