<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/Loginstyle.css">
    <title>Registro-ASGAIA</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./js/sesiont.js"></script>

</head>
<body>
    <div class="login-container"><!--Contenedor principal-->
        <div class="login-info-container"><!--Contenedor que contiene botones del login-->
            <h1 class="titulo">Registro</h1>
            <div class="logo-user-container"><!--Contendor para el logo-->
                <div class="logo-element">
                    <img src="img/logo.png" alt="logo">
                </div>
                <div class="user-element"><!--Contenedor para img user-->
                    <img src="img/usuario.png" alt="usuario">
                </div>
            </div>
            <form id="FRMLogin"  class="inputs-container" action="#"><!--Formulario para botones de login-->
                <input  id="nickname" name="nickname" class="input" type="text" placeholder="Usuario">
                <input id="password" name="password" class="input" type="password" placeholder="Contraseña">
                <input type="submit" value="Registrar" class="btn">
                <p>Ya tengo cuenta <a href="./login.html"><span class="span">Logueate</span></a></p>
            </form>
        </div>
        <img class="image" src="img/Login-rafiki.png" alt="icono"><!--img de icono-->
    </div>
    <script src="./js/signup.js"></script>    
    
</body>
</html>